
@font-face {
    font-family: 'DroidSans', sans-serif;
    src: url(../font/DroidSans-webfont.ttf);
}
@font-face {
    font-family: 'existence';
    src: url(../font/Existence-Light.ttf);
}
body{
    font-family: 'existence', verdana, sans-serif;
    font-size: 16px;
    font-weight:bold;
    color: #6a6a6a;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #4593BF;
    position: fixed;
    z-index: 26;
    width: 100%;
    left: 0;
    top: 0;
}

.logo {
    height: 50px;
    padding: 0.2em 1em;
    z-index: 5;
    float: left;
    position: relative;
}

.nav-collapse li {
    font-size: 18px;
}

/***Text***/
h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
    padding: 0.1em;
    margin-bottom: 0;
}

h1.introText{
    font-size: 4em;
    line-height: 0.2em;
    color: #fff;
    font-weight: lighter;
    padding-top: 2em;
    margin: 1em 0.2em 0.1em;
}
h2.introText{
    font-size: 2em;
    line-height: 1.2em;
    font-weight: lighter;
    color: #fff;
    position: relative;
    margin-bottom: 0.2em;
}

h3.introText{
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: lighter;
    color: #fff;
    position: relative;
    margin-top: 0.2em;
}
a.button {
    margin: 2em;
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
    background-color: #4593BF;
    font-weight: lighter;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cd-testimonials p{
    font-size: 0.8em;
    padding-bottom: 1em;
    margin: 0em;
}

.skills{
    font-weight: bold;
}

/* menu */
.menu-item a:hover{
    text-decoration: underline;
}

/*footer*/

footer {
    background: #4593BF;
    color: #fff;
    padding: 1em;
    line-height: 1.2em;
    position: relative;
}
footer a{
    color: #fff;
}
/**Layout**/
section{
    border-bottom: 1px solid #d8d8d8;
    padding: 1em 2em 2em;
}
.container{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro{
    background: url(../img/backgroundnt.png) no-repeat right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#about{

}
.aboutContent{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.aboutbtn li{
    display: block;
    background-color: rgb(69, 147, 191);
    padding: 0.5em 1em;
    margin: 0.2em 1em 0.5em;
}
.aboutbtn a{
    color: #fff;
    text-decoration: none;
}

.aboutbtn li:hover{
    background-color: rgb(17, 122, 172);
}
#me{
    width: 70%;
}

.example {
    list-style: none;
}

.portfolioImage {
    width: 90%;
    border: solid #6a6a6a;
}
.contactContent{
    width: 90%;
    vertical-align: center;
    padding: 2em;
}
#relatedSection img{
    text-decoration: none;
    border: solid #6a6a6a;
}

/****PORTFOLIO PAGES****/
#portfolioPage{
    padding-top: 3em;
}
#portfolioPage section{
    padding-bottom: 1.5em;
}
#portfolioPage h2{
    padding-bottom: 1em;
}
#portfolioPage ul {
    list-style: none;
    padding: 1em 2em;
}
#portfolioPage li {
    list-style: none;
    padding-bottom: 1em;
}
.headimage{
    max-width: 60%;
}
#textSection{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1rem
}
#portfolioPage article {
    /*-webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;*/
    max-width: 50%;
    display: block;
    overflow-x: hidden;
    margin: 0.25em auto;
    padding-bottom: 1em;
    text-align: justify;
    font-weight: lighter;
    line-height: 1.3;
}

/********************* contact form ******************/

form{
    font-size: 1.2em;
}
input, textarea {
    width: 90%;
    margin-bottom: 1em;
    padding: 0.2em;
}
textarea{
    height: 40%;
}
.contactbtn{
    color: #fff;
    display: inline;
    background-color: rgb(69, 147, 191);
    padding: 0.2em 0.2m;
    margin: 0.2em 1em 0.5em;
    width: 40%;
}

/***************Social Media Buttons***********/
.socialMedia {
    width: 15%;
    padding: 0.5em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.socialMedia:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#relatedSection img:hover{
    opacity: 0.6;
    border-color: #4593BF;
}
/*****For Medium Screens*****/

@media only screen and (min-width: 768px) {
    p{
        font-size: 1rem;
    }
    .cd-testimonials li p{
        font-size: 1.2em;
        padding-bottom: 0.5em;
        margin: 0.2em;
    }
    .example{
        display: inline;
    }

    .portfolioImage{
        width: 40%;
        border: solid;
        display: inline;
    }


    h1.introText{
        font-size: 6em;
        line-height: 0.2em;
        color: #fff;
        font-weight: lighter;
    }
    h2.introText{
        font-size: 3em;
        line-height: 1.2em;
        font-weight: lighter;
        color: #fff;

    }

    h3.introText{
        font-size: 2.5em;
        line-height: 1em;
        font-weight: lighter;
        color: #fff;
        position: relative;
    }
    .aboutContent p{
        padding: 2em;
        width: 45%;
        display: inline;
        float: left;
    }

    .aboutContent img{
        display: inline;
        width: 25%;
    }
    #me{
        width: 30%;
    }
    .socialMedia {
        width: 10%;}

        footer #copyright{
            float: left;
            font-size: 1rem;
            vertical-align: center;
        }
        footer #details{
            font-size: 1rem;
            text-align: right;
        }

        .aboutbtn li{
            display: inline;
            background-color: rgb(69, 147, 191);
            padding: 0.5em 1em;
            margin: 0.2em 1em 0.5em;

        }
        form{
            font-size: 1.2em;
        }
        input, textarea {
            width: 40%;
            padding: 0.2em;
        }
        textarea{
            height: 20%;
        }
        .contactbtn{
            width: 10%;
        }
    }
    /*****For Larger Screens*****/

    @media only screen and (min-width: 1000px) {
        #intro{
            min-height: 100%;
        }
        h1.introText{
            font-size: 8em;
            line-height: 0.2em;
            color: #fff;
            font-weight: lighter;
        }
        h2.introText{
            font-size: 3em;
            line-height: 1em;
            font-weight: lighter;
            color: #fff;
        }
        p{
            font-size: 1.25em;
        }
        #portfolio{
            padding-bottom: 4em;
        }
        .wrapper {
            position: relative;
            width: 768px;
            margin: auto;
        }

        .example{
            display: inline;
        }

        .portfolioImage{
            width: 30%;
            border: solid
        }

        .socialMedia {
            width: 10%;
        }

    }

    /*****Really big screens***/
    @media only screen and (min-width: 1400px) {
        body{
            font-size: 1.5em;
        }

        #textSection{
            height: 40%;
            font-size: 1em;
        }
        .aboutContent{
            width: 90%;
            display: block;
            margin: 0 auto;
        }
        #me{
            width: 20%;
        }
        .container{
            vertical-align: center;
        }

        p{
            font-size: 1em;
            padding-bottom: 0;
        }

        .aboutbtn {
            margin-top: 0;
            font-size: 1.4rem;
            clear: both;
        }

        .socialMedia {
            width: 10%;
        }


    }

    /******** IE 10 + ***********/

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        #testimonials{
            font-size: 1em;

        }
        #portfolio{
            overflow-y: scroll;
        }
    }



    /*******Hover effect portfolio*******/

    #portfolioGrid .overlay {
        display:inline-block;
        position: relative;
    }
    #portfolioGrid .overlay p{
        font-size:0.8em;
        padding: 0.2em 0.1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 20%;
        color: white;
        position: absolute;
        z-index: 25;
        opacity: 0;
    }
    #portfolioGrid .overlay:after {
        opacity: 0;
    }
    #portfolioGrid .overlay:hover p {
        opacity: 1;
        background-color: rgba(69, 147, 191,0.9);
    }

    .cd-testimonials p {
        font-size: 0.8em;
        padding-bottom: 1em;
        margin: 0em;
    }
    /* *************** Testimonials ************ */
    .flex-direction-nav{
        list-style: none;
    }
