@font-face {
  font-family: acherus;
  src: url(bb98e01a59bf415caa1a57405d223452.woff); }

@font-face {
  font-family: public;
  src: url(a362023527a2817c26c25efcc2e324a6.ttf); }

* {
  box-sizing: border-box; }

body {
  font-family: 'acherus', verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #414752;
  margin: 0.5em;
  padding: 0 0.5em;
  text-align: center;
  background: #ffd128;
  width: 100%;
  overflow-x: hidden; }

section {
  min-height: 65vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  max-width: 99%;
  position: relative; }
  @media (min-width: 48em) {
    section {
      min-height: 90vh;
      margin: 3em 0 0; } }

h2 {
  font-size: 2em; }
  @media (min-width: 48em) {
    h2 {
      font-size: 3em; } }

p {
  max-width: 33em;
  margin: auto;
  text-align: left; }

a {
  color: #414752;
  cursor: pointer; }

a:hover {
  font-weight: bold;
  color: #006080; }

.container {
  max-width: 100%; }

footer p {
  text-align: center; }

.navBar {
  min-width: 100%;
  position: relative;
  font-size: 0.875rem;
  padding: 0;
  margin-top: 0; }
  @media screen and (min-width: 48em) {
    .navBar {
      font-size: 1rem;
      padding: 0 1em;
      margin-top: auto; } }

.nav-wrapper {
  display: block;
  padding: 0; }
  @media screen and (min-width: 48em) {
    .nav-wrapper {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 1em; } }

.nav-menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(2, minmax(auto, 1fr));
  grid-row-gap: 0.5em;
  margin-top: 0;
  padding-left: 0;
  padding-bottom: 0.5em;
  width: 100%;
  list-style-type: none; }
  @media screen and (min-width: 48em) {
    .nav-menu {
      display: flex;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0); } }
  .nav-menu a {
    font-family: 'public', verdana, sans-serif;
    color: #414752;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase; }
    .nav-menu a:hover {
      color: #006080;
      font-weight: bold;
      text-decoration: underline; }

.nav-menu li {
  margin: auto 0.5em; }
  @media screen and (min-width: 48em) {
    .nav-menu li {
      display: inline-block; } }

.intro {
  min-height: 75vh;
  display: flex;
  align-items: center; }
  @media (min-width: 48em) {
    .intro {
      min-height: 85vh;
      align-items: flex-end; } }

h1.introText {
  font-size: 4rem;
  margin: 3em 0 0;
  color: #414752;
  text-transform: uppercase;
  font-family: 'public', verdana, sans-serif; }
  @media (min-width: 48em) {
    h1.introText {
      font-size: 7.5rem;
      margin: 2.5rem 0 0; } }

h2.introText {
  font-size: 1.5rem;
  margin: 0 0 4em; }
  @media (min-width: 48em) {
    h2.introText {
      font-size: 2rem; } }

.about {
  margin: auto; }

@media screen and (min-width: 48em) {
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.about-content--text p,
.about-content--text ul {
  margin: 0.5rem; }

@media screen and (min-width: 48em) {
  .about-content--text {
    max-width: 40vw;
    padding: 1em;
    margin: 0 2em; } }

.about-content--img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: 2em auto 3.5em; }
  @media screen and (min-width: 48em) {
    .about-content--img {
      width: 400px;
      height: 400px; } }

.about-content--img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #006080; }

.about-content--img-shuffle {
  width: 6em;
  height: 3em;
  background-color: #414752;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  margin: 0.5em auto; }
  .about-content--img-shuffle svg {
    width: 100%;
    height: 100%;
    fill: #ffd128; }

ul.about-buttons {
  display: block;
  padding: 0;
  text-align: center;
  margin-top: 2rem; }
  @media screen and (min-width: 48em) {
    ul.about-buttons {
      text-align: left; } }
  ul.about-buttons li {
    list-style: none; }

.portfolio {
  display: block; }
  .portfolio h2 {
    margin-bottom: 1rem; }

.portfolio-filters ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: auto;
  justify-items: center;
  padding-left: 0;
  max-width: 650px;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .portfolio-filters ul {
      grid-template-columns: repeat(4, auto);
      grid-column-gap: 1em; } }

.portfolio-filters li {
  list-style-type: none; }

.portfolio-filters--cta {
  font-size: 1rem; }

.portfolio-filter {
  vertical-align: middle; }

.portfolio-grid {
  max-width: 100%;
  padding-left: 0;
  position: relative; }
  @media (min-width: 48em) {
    .portfolio-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      justify-items: center;
      grid-row-gap: 1em; } }

.portfolio-item {
  max-width: 100%;
  display: inline-block;
  padding: 1em 0.5em;
  margin-bottom: 1em; }
  @media (min-width: 25rem) {
    .portfolio-item {
      max-width: calc(25rem + 2em);
      margin: 0 0.5em; } }

.portfolio-item.hide {
  display: none; }

.portfolio-item--container {
  max-width: 25rem; }

.portfolio-item--img {
  max-width: 380px;
  max-height: 380px;
  max-width: 95%; }

.portfolio-item--title,
.portfolio-item--description {
  color: #414752;
  margin: 0.5em;
  width: 380px;
  max-width: 95%;
  text-align: center; }

input[type=radio]:checked + li {
  background: green; }

.no-js details[open] {
  margin-bottom: 52em; }

details:hover {
  cursor: pointer; }

.details--container {
  width: 100vw;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1rem;
  background-color: #ffd128;
  pointer-events: none; }
  @media (min-width: 48em) {
    .details--container {
      margin-top: 3em; } }
  .details--container img {
    display: block;
    max-width: 85%;
    margin: auto auto 1.5em; }
  .details--container .portfolio-item--link {
    background-color: #414752;
    border-radius: 2em;
    cursor: pointer;
    display: block;
    margin: 1.5em auto;
    width: 15rem;
    height: 1.875em;
    color: #ffd128; }
  .details--container p,
  .details--container blockquote {
    margin-bottom: 0.5rem;
    max-width: 85%;
    max-width: 620px;
    text-align: justify; }
  .details--container blockquote {
    padding-left: 1em;
    margin: auto; }

.no-js .details--container {
  height: 50em;
  overflow-y: scroll; }

.writing-speaking-wrapper {
  max-width: 99%;
  position: relative; }
  .writing-speaking-wrapper p {
    text-align: center;
    max-width: 85%;
    max-width: 620px; }
  .writing-speaking-wrapper date {
    font-size: 0.875em;
    display: block; }

.writings {
  margin-top: 1em; }
  .writings ul {
    max-width: 80%;
    max-width: 600px;
    padding-left: 30px;
    margin: 1em auto; }
  .writings li {
    font-weight: bold;
    text-align: left; }

.speakings {
  margin-top: 2.5em; }
  .speakings ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    max-width: 100%;
    overflow: hidden; }
  .speakings li {
    list-style: none;
    padding: 1rem;
    flex-shrink: 1;
    max-width: 100%; }
    @media (min-width: 48em) {
      .speakings li {
        max-width: 32%; } }
  .speakings .tweet {
    max-width: 100%; }
  .speakings twitter-widget {
    width: 100% !important; }

.testimonials-container {
  position: relative;
  width: 100%; }

.testimonials-button {
  height: 2em;
  position: absolute;
  top: 10rem;
  background-color: rgba(0, 0, 0, 0);
  border: none; }
  @media (min-width: 48em) {
    .testimonials-button {
      top: 15rem; } }
  .testimonials-button:hover {
    cursor: pointer; }
  .testimonials-button img {
    max-height: 100%; }

.testimonials-button.next {
  right: 0; }
  @media (min-width: 48em) {
    .testimonials-button.next {
      right: 4em; } }

.testimonials-button.previous {
  left: 0; }
  @media (min-width: 48em) {
    .testimonials-button.previous {
      left: 3rem; } }
  .testimonials-button.previous img {
    transform: rotate(180deg); }

ul.testimonials {
  padding-left: 0;
  width: 80%;
  margin: auto;
  display: block; }
  @media (min-width: 48em) {
    ul.testimonials {
      width: 600px; } }

li.testimonial {
  list-style: none;
  margin-bottom: 2rem;
  width: 100%; }

.testimonial--text {
  text-align: center;
  margin-bottom: 0.5rem; }

.testimonial--author {
  display: flex;
  align-items: center;
  justify-content: center; }
  .testimonial--author img {
    max-width: 3.5rem;
    border-radius: 50%;
    align-self: center;
    margin-right: 1em; }
  .testimonial--author-details {
    text-align: left;
    font-size: 0.875rem;
    line-height: 1rem; }
    .testimonial--author-details .person {
      font-size: 1rem; }
    .testimonial--author-details span {
      display: block; }

.off-screen {
  position: absolute;
  right: 150vw; }

.contact-content p {
  margin-bottom: 0.5em;
  text-align: center; }

.social-media-links {
  margin-top: 3em; }
  .social-media-links img {
    max-width: 3em; }
    @media (min-width: 48em) {
      .social-media-links img {
        max-width: 5em; } }
    .social-media-links img:hover {
      transform: rotate(-10deg);
      transition-duration: 0.25s; }

