<section id="writing-speaking">
    <div class="container">
        <h2>Writing & Speaking</h2>
        <div class="writing-speaking-wrapper">
          <div class="writings">
            <h3>Writings</h3>
            <p>
              Here are links to articles, blog posts and other bits I've written. For more, checkout out my <a href = "https://medium.com/@rushlet">Medium profile</a>
            </p>
              <ul class="writing">
                {{#each writings}}
                  {{> writing this}}
                {{/each}}
              </ul>
          </div>
          <div class="speakings">
            <h3>Speakings</h3>
            <p>
              I've had the pleasure of speaking at...
            </p>
              <ul class="writing">
                {{#each speakings}}
                  {{> speaking this}}
                {{/each}}
              </ul>
          </div>
        </div>
    </div>
</section>
