<section id="portfolio">
    <div class="container">
        <h2>Portfolio</h2>
        <div id="portfolioContent">
            <ul id="filter-list" class="clearfix">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter="webdesign">Web Design</li>
                <li class="filter" data-filter="webdevelopment">Web Development</li>
                <li class="filter" data-filter="misc">Miscellaneous</li>
            </ul><!-- @end #filter-list -->
            <ul id="portfolioGrid">

            </ul><!-- @end #portfolioGrid -->
        </div>
    </div>
</section>