$portfolio-item-width: 25rem;

.portfolio {
    display: block;

    h2 {
      margin-bottom: 1rem;
    }
}

.portfolio-filters ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em;
    grid-auto-rows: auto;
    justify-items: center;
    padding-left: 0;
    max-width: 650px;
    margin: 0 auto;

    @media (min-width: $breakpoint) {
        grid-template-columns: repeat(4, auto);
    }
}

.portfolio-filters li {
    list-style-type: none;
}

.portfolio-filters--cta {
  font-size: 1rem;
}

.portfolio-filter {
  vertical-align: middle;
}

.portfolio-grid {
    max-width: 100%;
    padding-left: 0;
    position: relative;

    @media (min-width: $breakpoint) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($portfolio-item-width, 1fr));
        justify-items: center;
        grid-row-gap: 1em;
    }
}

.portfolio-item {
    max-width: 100%;
    display: inline-block;
    padding: 1em 0.5em;
    margin-bottom: 1em;

    @media (min-width: $portfolio-item-width) {
        max-width: calc(#{$portfolio-item-width} + 2em);
        margin: 0 0.5em;
    }
}

.portfolio-item.hide {
  display: none;
}

.portfolio-item--container {
    max-width: $portfolio-item-width;
}

.portfolio-item--img {
    max-width: 380px;
    max-height: 380px;
    max-width: 95%;
}

.portfolio-item--title,
.portfolio-item--description {
    color: $primary;
    margin: 0.5em;
    width: 380px;
    max-width: 95%;
    text-align: center;
}

input[type=radio]:checked + li {
    background: green;
}

.no-js details[open] {
  margin-bottom: 52em;
}

details:hover {
  cursor: pointer;
}

.details--container {
  width: 92vw;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1rem;
  background-color: $background;

  @media (min-width: $portfolio-item-width) {
      margin-top: 3em;
  }

  img {
    display: block;
    max-width: 85%;
    margin: auto auto 1.5em;
  }

  a {
    background-color: $primary;
    border-radius: 2em;
    cursor: pointer;
    display: block;
    margin: 1.5em auto;
    width: 15rem;
    height: 1.875em;
    color: $background;
  }

  p,
  blockquote {
    margin-bottom: 0.5rem;
    max-width: 85%;
    max-width: 620px;
    text-align: justify;
  }

  blockquote {
    padding-left: 1em;
    margin: auto;
  }
}

.no-js .details--container {
  height: 50em;
  overflow: scroll;
}
