.portfolio-filters ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18ch, 1fr));
    grid-column-gap: 1em;
    justify-items: center;
    padding-left: 0;
}

.portfolio-filters li {
    list-style-type: none;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    grid-row-gap: 1.5em;
}

.portfolio-item {
    max-width: 400px;
    display: inline-block;
}

.portfolio-item--title {
    color: $color1;
    margin: 0.5em;
}

input[type=radio]:checked + li {
    background: green;
}