<div class="portfolio-item">
    <img src={{img-src}} class="portfolio-item--img">
    <h3 class="portfolio-item--title">{{title}}</h3>
    <p class="portfolio-item--description">{{desc}}</p>
    <a class="portfolio-item--link" href={{link}}></a>
</div>