<section id="portfolio">
    <h2>Portfolio</h2>
    <div class="portfolio-section">
        <div class="portfolio-filters">
            <label>Filter portfolio examples</label>
            <ul>
                {{#each filters}}
                <li>
                    {{> portfolio-filter this}}
                </li>
                {{/each}}
            </ul>
        </div>
        <ul class="portfolio-grid">
        {{#each items as |item|}}
            <li class="portfolio-item--li {{filters}}">
                {{> portfolio-item item}}
            </li>
        {{/each}}
        </ul><!-- @end #portfolioGrid -->
    </div>
</section>