$portfolio-item-width: 25em;

.portfolio {
    display: block;
}

.portfolio-filters ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em;
    grid-auto-rows: auto;
    justify-items: center;
    padding-left: 0;

    @media (min-width: $breakpoint) {
        grid-template-columns: repeat(4, auto);
    }
}

.portfolio-filters li {
    list-style-type: none;
}

.portfolio-grid {
    max-width: 100%;
    padding-left: 0;

    @media (min-width: $breakpoint) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($portfolio-item-width, 1fr));
        justify-items: center;
        grid-row-gap: 1em;
    }
}

.portfolio-item {
    max-width: 100%;
    display: inline-block;
    background-color: $component-background;
    padding: 1em 0.5em;
    margin-bottom: 1em;
    position: relative;

    @media (min-width: $portfolio-item-width) {
        max-width: calc(#{$portfolio-item-width} + 2em);
        margin: 0 0.5em;
    }
}

.portfolio-item--container {
    max-width: $portfolio-item-width;
}

.portfolio-item--img {
    max-width: 95%;
}

.portfolio-item--title {
    color: $color1;
    margin: 0.5em;
}

input[type=radio]:checked + li {
    background: green;
}