<section id="about" class="about">
    <div class="container">
        <h2>About Me</h2>
        <div class="about-content">
            <div class="about-content--text">
                <p><span class="highlight">Hi!</span>
                    I'm Becky Rush, a Brightonian web developer.</p>
                <p>I create engaging and interactive content for BBC News.</p>
                <p>I specialise in Front End Web Development, tinkering with <span class="skills">HTML, CSS</span>
                    and <span class="skills">JavaScript</span> to produce awesome web content.</p>
                <p>I also have skills in <span class="skills">Data Gathering & Analysis, Digital Design, 
                    Public Speaking and Copy Writing</span></p>

                <ul class="about-buttons">
                    <li><a href="assets/docs/Online-CV-Aug-2020_compressed.pdf" target="_blank">See my CV</a></li>
                    <li><a href="assets/docs/graphic-portfolio_compressed.pdf" target="_blank">Check out my downloadable portfolio</a></li>
                </ul>
            </div>
            <div class="about-content--img" role="img" aria-label="a selection of photos of me">
              {{#each me}}
                {{> img this}}
              {{/each}}
                <button aria-label="Change image" class="about-content--img-shuffle">{{>shuffle-icon}}</button>
            </div>
        </div>
    </div>
</section>
