<section id="about" class="about">
    <div class="container">
        <h2>About Me</h2>
        <div class="about-content">
            <div class="about-content--text">
                <p><span class="highlight">Hi!</span>
                    I'm Becky Rush, a Brightonian web developer living in London.</p>
                <p>I am an inquisitive, hardworking and creative individual, exploring the digital world.</p>
                <p>I create engaging and interactive content for BBC News.</p>
                <p>I specialise in Front End Web Development, tinkering with <span class="skills">HTML, CSS</span>
                    and <span class="skills">JavaScript</span> to produce awesome web content.</p>
                <p>I also have skills in <span class="skills">Data Gathering & Analysis, Digital Design,
                    WordPress, Public Speaking, Copy Writing and
                    Blogging.</span></p>
            </div>
            <div class="about-content--img">
                <img class="img-me" alt="" src="assets/img/me/cropped.jpg">
                <img class="img-me" alt="" src="assets/img/me/carnival-bizarre.jpg" style="display:none">
                <img class="img-me" alt="" src="assets/img/me/bbc-news.jpg" style="display:none">
                <img class="img-me" alt="" src="assets/img/me/valencia.jpg" style="display:none">
                <button class="about-content--img-shuffle">{{>shuffle-icon}}</button>
            </div>
        </div>
        <ul class="about-buttons">
            <li><a href="cv-online.pdf" target="_blank">See my CV</a></li>
        </ul>
    </div>
</section>