<section id="about">
    <div class="container">
        <h2>About Me</h2>
        <div class="aboutContent">
            <p><span class="highlight">Hi!</span>
                I'm Becky Rush, a Brightonian web developer living in London.</p>
            <p>I am an inquisitive, hardworking and creative individual, exploring the digital world.
                <br>
                I create engaging and interactive content for BBC News.</p>
            <p>I specialise in Front End Web Development, tinkering with <span class="skills">HTML, CSS</span>
                and <span class="skills">JavaScript</span> to produce awesome web content.
                <br>I also have skills in <span class="skills">Data Gathering & Analysis, Digital Design,
                    WordPress, Public Speaking, Copy Writing and
                    Blogging.</span>
        </div>
        <div class="aboutContent">
            <img id="me" alt="about me" src="assets/img/me_3.png">
            <ul class="aboutbtn">
                <li><a href="cv-online.pdf" target="_blank">See my CV</a></li>
            </ul>
        </div>
    </div>
</section>