<section id="about" class="about">
    <div class="container">
        <h2>About Me</h2>
        <div class="about-content">
            <div class="about-content--text">
                <p><span class="highlight">Hi!</span>
                    I'm Becky Rush, a Brightonian web developer living in London.</p>
                <p>I create engaging and interactive content for BBC News.</p>
                <p>I specialise in Front End Web Development, tinkering with <span class="skills">HTML, CSS</span>
                    and <span class="skills">JavaScript</span> to produce awesome web content.</p>
                <p>I also have skills in <span class="skills">Data Gathering & Analysis, Digital Design,
                    WordPress, Public Speaking, Copy Writing and Blogging.</span></p>

                <ul class="about-buttons">
                    <li><a href="assets/docs/CV-Oct2019-Online.pdf" target="_blank">See my CV</a></li>
                    <li><a href="assets/docs/portfolio-download.pdf" target="_blank">Check out my downloadable portfolio</a></li>
                </ul>
            </div>
            <div class="about-content--img" aria-hidden="true">
                <img class="img-me" alt="Photo of me, holding my laptop" src="assets/img/me/cropped.jpg">
                <img class="img-me" alt="Photo of me, in fancy dress - wearing a feathery headdress" src="assets/img/me/carnival-bizarre.jpg" style="display:none">
                <img class="img-me" alt="Photo of me, in the BBC News studio" src="assets/img/me/bbc-news.jpg" style="display:none">
                <img class="img-me" alt="Photo of me, lying in the grass" src="assets/img/me/valencia.jpg" style="display:none">
                <button class="about-content--img-shuffle">{{>shuffle-icon}}</button>
            </div>
        </div>
    </div>
</section>
