.contact-content {
  p {
    margin-bottom: 0.5em;
    text-align: center;
  }
}

.social-media-links {
  margin-top: 3em;
  img {
    max-width: 5em;
    &:hover {
      transform: rotate(-10deg);
      transition-duration: 0.25s;
    }
  }
}
