<section id="contact">
    <div class="container">
        <h2>Contact Me</h2>
        <div class="contact-content">
          <p>Have a project you want to discuss or just want to connect?</p>
          <p>Email me at <a href="mailto:becky@rushlet.co.uk">becky@rushlet.co.uk</a></p>
          <p>or find me on social media:</p>
          <div class="social-media-links">
                  <a href="http://twitter.com/rushlet_">
                    <img src="https://cdn2.iconfinder.com/data/icons/free-social-media-5/32/twitter_social_media_online-128.png"
                          loading="lazy" alt="Follow me on Twitter"></a>
                  <a href="https://uk.linkedin.com/in/rushlet">
                    <img src="https://cdn2.iconfinder.com/data/icons/free-social-media-5/32/linkedin_social_media_online-128.png"
                          loading="lazy" alt="Connect with me on LinkedIn"></a>
                  <a href="https://github.com/rushlet">
                    <img src="https://cdn2.iconfinder.com/data/icons/free-social-media-5/32/github_social_media_online-128.png"
                          loading="lazy" alt="Check out my Github"></a>
                  <a href="https://www.instagram.com/rushlet/">
                    <img src="https://cdn2.iconfinder.com/data/icons/free-social-media-5/32/instagram_social_media_online--128.png"
                          loading="lazy" alt="Follow me on Instagram"></a>
          </div>
        </div>
    </div>
</section>
