.intro {
    min-height: 75vh;
    display: flex;
    align-items: center;

    @media (min-width: $breakpoint) {
        min-height: 85vh;
        align-items: flex-end;
    }
}

h1.introText {
    font-size: 4rem;
    margin: 3em 0 0;
    color: $color1;
    text-transform: uppercase;
    font-family: 'public', verdana, sans-serif;

    @media (min-width: $breakpoint) {
        font-size: 7.5rem;
        margin: 2.5rem 0 0;
    }
}

h2.introText {
    font-size: 1.5rem;
    margin: 0 0 4em;

    @media (min-width: $breakpoint) {
        font-size: 2rem;
    }
}