<section id="testimonials">
    <div class="container testimonials-container">
        <h2>Testimonials</h2>
        <button aria-hidden="true" class="testimonials-button previous" style="display:none"><img src="./assets/img/chevron.svg"/></button>
        <button aria-hidden="true" class="testimonials-button next" style="display:none"><img src="./assets/img/chevron.svg"/></button>
        <div class="testimonials-wrapper">
            <ul class="testimonials">
              {{#each testimonials}}
                {{> testimonial this}}
              {{/each}}
            </ul>
        </div>
    </div>
</section>
