.testimonials-container {
  position: relative;
  width: 100%;
}

.testimonials-button {
  height: 2em;
  position: absolute;
  top: 10rem;
  background-color: rgba(0,0,0,0);
  border: none;

  @media (min-width: $breakpoint) {
      top: 15rem
  }

  &:hover {
    cursor: pointer;
  }

  img {
    max-height: 100%;
  }
}

.testimonials-button.next {
  right: 0;

  @media (min-width: $breakpoint) {
      right: 4em;
  }
}

.testimonials-button.previous {
  left: 0;

  @media (min-width: $breakpoint) {
      left: 3rem;
  }

  img {
    transform: rotate(180deg);
  }
}

ul.testimonials {
  padding-left: 0;
  width: 80%;
  margin: auto;
  display: block;

  @media (min-width: $breakpoint) {
      width: 600px;
  }
}

li.testimonial {
  list-style: none;
  margin-bottom: 2rem;
  width: 100%;
}

.testimonial--text {
  text-align: center;
  margin-bottom: 0.5rem;
}

.testimonial--author {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 3.5rem;
    border-radius: 50%;
    align-self: center;
    margin-right: 1em;
  }

  &-details {
    text-align: left;
    font-size: 0.875rem;
    line-height: 1rem;

    .person {
      font-size: 1rem;
    }

    span {
      display: block;
    }
  }
}

.off-screen {
  position: absolute;
  right: 150vw;
}
