<section id="testimonials">
    <div class="container">
        <h2>Testimonials</h2>
        <div class="testimonials-wrapper">
            <ul class="testimonials">
              {{#each testimonials}}
                {{> testimonial this}}
              {{/each}}
            </ul>
        </div>
    </div>
</section>
