<section id="testimonials">
    <div class="container">
        <h2>Testimonials</h2>
        <div class="cd-testimonials-wrapper cd-container">
            <ul class="cd-testimonials">

            </ul><!-- cd-testimonials -->
        </div>
        <!--cd-testimonials-wrapper-->
    </div>
</section>