{{> nav}}

<body>
	<div id="wrapper">
		{{> intro}}
		{{> about}}
		{{> portfolio}}
		{{> testimonials}}
		{{> contact}}
	</div>
	<div id="divider">
	</div>

	<footer>
		<p id="copyright">&copy; Rushlet 2019</p>
	</footer>
</body>
