// colours
$color1: #febe00;
$color2: #414752;
$color3: #df6b00;

$component-background: rgba($color2, 0.025);

$breakpoint: 48em;

@font-face {
    font-family: acherus;
    src: url(./assets/font/acherusgrotesque-regular-webfont.woff);
}

@font-face {
    font-family: public;
    src: url(./assets/font/PublicSans-Roman-VF.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'acherus', verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $color2;
    margin: 0.5em;
    padding: 0 0.5em;
    text-align: center;
}

section {
    min-height: 65vh;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;

    @media (min-width: $breakpoint) {
        min-height: 90vh;
        margin: 3em 0 0;
    }
}

h2 {
    font-size: 2em;
    @media (min-width: $breakpoint) {
        font-size: 3em;
    }
}

p {
    max-width: 33em;
    margin: auto;
    text-align: left;
}

a {
    cursor: pointer;
}

.hide {
    display: none;
}

@import './components/nav/nav.scss';
@import './components/intro/intro.scss';
@import './components/about/about.scss';
@import './components/portfolio/portfolio.scss';