// colours
$color1: #f5a62a;
$color2: #414752;
$color3: #e67b29;

@import './components/nav/nav.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'existence', verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $color2;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    cursor: pointer;
}
