{{> nav}}
<div id="wrapper" role="main">
	{{> intro}}
	{{> about}}
	{{> portfolio}}
  {{> writing-speaking}}
	{{> testimonials}}
	{{> contact}}
</div>

<footer>
	<p id="copyright">&copy; Rushlet 2019</p>
</footer>
