// colours
$color1: #f5a62a;
$color2: #414752;
$color3: #df6b00;

$breakpoint: 768px;

@import './components/nav/nav.scss';
@import './components/portfolio/portfolio.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'existence', verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $color2;
    margin: 0.5em;
    padding: 0;
    text-align: center;
}

a {
    cursor: pointer;
}
