<header>
    <a href="index.html#intro" class="logo" data-scroll><img class="logo" alt="logo" src="img/logo_web_white.png"></a>
    <nav class="nav-collapse">
        <ul>
            <li class="menu-item"><a href="index.html#intro" data-scroll>Home</a></li>
            <li class="menu-item"><a href="#about" data-scroll>About</a></li>
            <li class="menu-item"><a href="#portfolio" data-scroll>Portfolio</a></li>
            <li class="menu-item"><a href="#testimonials" data-scroll>Testimonials</a></li>
            <li class="menu-item"><a href="#contact" data-scroll>Contact</a></li>
            <li class="menu-item"><a href="http://itsuite.it.brighton.ac.uk/rlr17/blog">Blog</a></li>
        </ul>
    </nav>
</header>