<nav class="navBar" aria-label="Main menu">
    <ul class="nav-menu">
        <li class="nav-menu--item"><a href="#intro">Home</a></li>
        <li class="nav-menu--item"><a href="#about">About</a></li>
        <li class="nav-menu--item"><a href="#portfolio">Portfolio</a></li>
        <li class="nav-menu--item"><a href="#writing-speaking">Writing & Speaking</a></li>
        <li class="nav-menu--item"><a href="#testimonials">Testimonials</a></li>
        <li class="nav-menu--item"><a href="#contact">Contact</a></li>
    </ul>
</nav>
