.navBar {
    min-width: 100%;
    position: relative;
    padding: 0 1em;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;

    // @media screen and (max-width: 768px) {
    //     display: block;
    // }
}

.logo {
    background-color: $color1;
    border-radius: 50px;
    display: inline-block;
    height: 45px;
    margin: 1em 0;
    width: 45px;
}

.label-toggle {
    display: none;

    @media screen and (max-width: 768px) {
        cursor: pointer;
        height: 35px;
        width: 35px;
        display: inline-block;
        /* Gradient Hamburger */
        background: linear-gradient(to bottom, $color1 0%, $color1 20%, transparent 20%, transparent 40%, $color1 40%, $color1 60%, transparent 60%, transparent 80%, $color1 80%, $color1 100%);
    }
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    #menu-toggle:checked~ul {
        opacity: 1;
        height: 100vh;
        visibility: visible;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 85%;
    max-width: 1000px;

    @media screen and (max-width: 768px) {
        background-color: $color1;
        display: block;
        height: 0;
        list-style-type: none;
        opacity: 0;
        text-align: center;
        transition: all 0.5s ease;
        width: 100%;
        visibility: hidden;
        position: absolute;
        top: calc(50px + 1em);
        right: 0;
        left: 0;
        padding: 0;
    }

    a {
        color: $color1;
        text-decoration: none;
        transition: all .5s ease;

        &:hover {
            color: $color3;
        }

        @media screen and (max-width: 768px) {
            color: $color2;
        }
    }
}

.nav-menu li {
    display: inline-block;

    @media screen and (max-width: 768px) {
        border-bottom: 2px solid $color2;
        color: $color2;
        display: block;
        font-size: 1em;
        padding: 2em 0;
    }
}
