<nav class="navBar">
    <nav class="nav-wrapper">
        <div class="logo"></div><!-- Logo -->
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="label-toggle"></label>
        <ul class="nav-menu">
            <li class="nav-menu--item"><a href="#intro">Home</a></li>
            <li class="nav-menu--item"><a href="#about">About</a></li>
            <li class="nav-menu--item"><a href="#portfolio">Portfolio</a></li>
            <li class="nav-menu--item"><a href="#">Writing & Speaking</a></li>
            <li class="nav-menu--item"><a href="#testimonials">Testimonials</a></li>
            <li class="nav-menu--item"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</nav>